/* Общий стиль */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background: url('indexBg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    animation: backgroundMove 20s linear infinite alternate;
}

.container {
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    max-width: 700px;
    margin: 50px auto;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1.5s ease-in-out;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffc323;
    animation: slideInDown 1s ease-in-out;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
}

.buttons {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    background-color: #ffc323;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
    transform: skewX(-45deg);
}

.btn:hover::before {
    left: 100%;
}

.btn:hover {
    background-color: #e6b71e;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.contacts {
    font-size: 1em;
    line-height: 1.6;
    color: #fff;
    animation: fadeIn 2s ease-in-out;
}

.contacts h2 {
    color: #ffc323;
    margin-bottom: 15px;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        margin: 20px auto;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .btn {
        padding: 10px 20px;
        font-size: 0.9em;
    }

    .contacts {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 0.9em;
    }

    .btn {
        padding: 8px 15px;
        font-size: 0.8em;
    }

    .contacts {
        font-size: 0.8em;
    }
}

/* Анимации */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes backgroundMove {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}